<p id="notice"><%= notice %></p>

<h1>Values</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Estimated value</th>
      <th scope="col">As of date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @values.each do |value| %>
      <tr scope="row">
        <td><%= value.estimated_value %></td>
        <td><%= value.as_of_date %></td>
        <td><%= link_to 'Show', value %></td>
        <td><%= link_to 'Edit', edit_value_path(value) %></td>
        <td><%= link_to 'Destroy', value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Value', new_value_path %>
