 <div class="container-fluid h-100">
  <h1 class="text-center display-4 align-items-center pt-1">Values</h1>

  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Piece</th>
        <th scope="col">Estimated value</th>
        <th scope="col">As of date</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @values.each_with_index do |value,i| %>
        <tr scope="row">  
          <td><%= i+1 %>: </td>
          <td>
            <% item = Item.where(value_id: value.id).first %>
            <% autograph = Autograph.where(value_id: value.id).first %>
            <% if item %>
              <%= link_to item.item_name, value %>
            <% elsif autograph %>
              <%= link_to autograph.name, value %>
            <% end %>
          </td>
          <td><%= value.estimated_value %></td>
          <td><%= value.as_of_date %></td>
          <td>
            <%= link_to edit_value_path(value) do %>
              <i class="fas fa-edit fa-1x"></i>
            <% end %>
          </td>
          <td>
            <%= link_to value, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>