<%= form_with(model: purchase, local: true, html: { autocomplete: "off" }) do |form| %>
  <% if purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
        <% purchase.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h5>
    <%=get_purchase_name(purchase)%>
  </h5>
  <h6>  
    <%=get_purchase_description(purchase)%>
  </h6>
  
  <br>

  <div class="field form-group">
    <%= form.label :purchase_type, class: "control-label" %>
    <%= form.collection_select :purchase_type_id, PurchaseType.order(:type_name),:id,:type_name, {prompt: "Select Purchase Type", 
    include_blank: 'Add New Purchase Type'}, {class: "form-control", :onchange => "add_new_purchase_type()"} %>
  </div>

  <div class="field form-group" id="new_purchase_type" style="display:none">
    <%= fields_for @purchase_type do |purchase_type_form|%>
      <%= purchase_type_form.label 'Enter Purchase Type', class: "control-label" %>
      <%= purchase_type_form.text_field :type_name, class: "form-control" %>
    <% end %>
  </div>
   
  <div class="field form-group">
    <%= form.label :invoice_number, class: "control-label" %>
    <%= form.text_field :invoice_number, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :location, class: "control-label" %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :date, class: "control-label" %>
    <%= form.text_field 'date', placeholder: 'MM/DD/YYYY', maxlength: 10, size: 12, data: {behavior: 'flatpickr'}, html: {class: '.col-md-3 form-control', autocomplete: "off" } %>
  </div>

  <div class="field form-group">
    <%= form.label :sale_price, class: "control-label" %>    
    <%= form.text_field :sale_price, placeholder: '$0.00', value: number_to_currency(form.object.sale_price), class: "form-control", id: "sale_price" %>
  </div>

  <div class="field form-group">
    <%= form.label :buyer_premium, class: "control-label" %>
    <%= form.text_field :buyer_premium, placeholder: '$0.00', value: number_to_currency(form.object.buyer_premium), class: "form-control", id: "buyer_premium" %>
  </div>

  <div class="field form-group">
    <%= form.label :shipping, class: "control-label" %>
    <%= form.text_field :shipping, placeholder: '$0.00', value: number_to_currency(form.object.shipping), class: "form-control", id: "shipping" %>
  </div>

  <div class="field form-group">
    <label class="control-label">Additional Fee/Inscription Cost:</label>
    <%= form.text_field :additional, placeholder: '$0.00', value: number_to_currency(form.object.additional), class: "form-control", id: "additional" %>
  </div>

  <div class="field form-group">
    <%= form.label :discount, class: "control-label" %>
    <%= form.text_field :discount, placeholder: '$0.00', value: number_to_currency(form.object.discount), class: "form-control", id: "discount" %>
  </div>

  <div class="field">
    <%= form.label :total_cost, class: "control-label" %>
    <p id='total_cost'>
      <%= number_to_currency(form.object.total_cost) %>
    </p>
  </div>

  <div class="actions form-group py-3">
    <%= form.submit class: "form-control btn-dark" %>
  </div>
<% end %>
