<div class="container-fluid h-100 px-0">
  <h1 class="text-center display-4 align-items-center pt-1">Purchases</h1>

  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Piece</th>
        <th scope="col">Purchase Type</th>
        <th scope="col">Date</th>
        <th scope="col">Total Cost</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @purchases.each_with_index do |purchase,i| %>
        <tr scope="row">          
          <td class="px-1">
            <div class="row">
              <span class="col-1">
                <%= i+1 %>: 
              </span>
              <span class="col">
                <%= link_to get_purchase_name(purchase), purchase %>
              </span>
            </div>
          </td>
          <td><%= PurchaseType.where(id: purchase.purchase_type.id).first.type_name %></td>
          <td><%= purchase.date.strftime('%b %d %Y') unless purchase.date.nil? %></td>
          <td><%= number_to_currency(purchase.total_cost) %></td>
          <td>
            <div class="row">
              <%= link_to edit_purchase_path(purchase), class: 'col-6 py-1' do %>
                <i class="fas fa-edit fa-1x"></i>
              <% end %>
              <%= link_to purchase, method: :delete, data: { confirm: "Do you want to delete purchase for #{get_purchase_name(purchase)}?" }, class: 'col-6 py-1' do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
