<%= form_with(model: autograph, local: true) do |form| %>
  <% if autograph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(autograph.errors.count, "error") %> prohibited this autograph from being saved:</h2>

      <ul>
        <% autograph.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<br>
<%= render 'items/item_lookup', item: get_item_id %>
<br>
  <div class="field form-group">
    <%= form.label :name, class: "control-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description, class: "control-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :profession, class: "control-label" %>
    <%= form.collection_select :profession_id, Profession.order(:profession_name),:id,:profession_name, {prompt: "Select Profession", 
    include_blank: 'Add New Profession'}, {class: "form-control", :onchange => "add_new_profession()"} %>
  </div>

  <div class="field form-group" id="new_profession" style="display:none">
    <%= fields_for @profession do |profession_form|%>
      <%= profession_form.label 'Enter Profession', class: "control-label" %>
      <%= profession_form.text_field :profession_name, class: "form-control" %>
    <% end %>
  </div>

  <div class="field form-group">
    <%= form.label :organization, class: "control-label" %>
    <%= form.collection_select :organization_id, Organization.order(:org_name),:id,:org_name, {prompt: "Select Organization", 
    include_blank: 'Add New Organization'}, {class: "form-control", :onchange => "add_new_organization()"} %>
  </div>

  <div class="field form-group" id="new_organization" style="display:none">
    <%= fields_for @organization do |organization_form|%>
      <%= organization_form.label 'Enter Organization', class: "control-label" %>
      <%= organization_form.text_field :org_name, class: "form-control" %>
    <% end %>
  </div>
  
  <div class="field form-group">
    <%= form.label :inscription, class: "control-label" %>
    <%= form.text_field :inscription, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label 'Date of Autograph', class: "control-label" %>
    <%= form.text_field :autograph_date, placeholder: 'MM/DD/YYYY', maxlength: 10, size: 12, data: {behavior: 'flatpickr'}, html: {class: '.col-md-3 form-control', autocomplete: "off" } %>
  </div>

  <div class="auth_fields">
    <div class="field form-group">  
      <% @authentication_autograph.each_with_index do |auto_auth, index| %>
        <%= form.fields_for :authentications_autographs, auto_auth do |auto_auth_form|%>
          <%= render 'auth_input', form: form, auto_auth_form: auto_auth_form, index: index %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= link_to_add_row('Add Authentication', form, :authentications_autographs, class: 'btn btn-primary') %>
  </div>

  <div class="field form-group">
    <%= form.label :image, class: "control-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="actions form-group py-3">
    <%= form.submit class: "form-control btn-dark" %>
  </div>

  
<% end %>
