<%= form_with(model: autograph, local: true) do |form| %>
  <% if autograph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(autograph.errors.count, "error") %> prohibited this autograph from being saved:</h2>

      <ul>
        <% autograph.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<br>
<%= render 'items/item_lookup'%>
<br>
  <div class="field form-group">
    <%= form.label :name, class: "control-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :authentication, class: "control-label" %>
    <%= form.collection_select :authentication_id, Authentication.order(:name),:id,:name, {prompt: "Select Authentication", 
    include_blank: 'Add New Authentication'}, {class: "form-control", :onchange => "add_new_authentication()"} %>
  </div>

  <div class="field form-group" id="new_authentication" style="display:none">
    <%= fields_for @authentication do |authentication_form|%>
      <%= authentication_form.label 'Enter Authentication', class: "control-label" %>
      <%= authentication_form.text_field :name, class: "form-control" %>
    <% end %>
  </div>

  <div class="field form-group">  
    <%= fields_for @autograph_authentication do |auto_auth_form|%>
      <%= auto_auth_form.label :authentication_number, class: "control-label" %>
      <%= auto_auth_form.text_field :authentication_number, class: "form-control" %>
    <% end %>
  </div>

  <div class="field form-group">
    <%= form.label :image, class: "control-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="actions form-group py-3">
    <%= form.submit class: "form-control btn-dark" %>
  </div>

  
<% end %>
