<div class="container-fluid h-100">
  <h1 class="text-center display-4 align-items-center pt-1">Autographs</h1>

  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Item</th>        
        <th scope="col">Item Type</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @autographs.each_with_index do |autograph, i| %>
        <tr scope="row">
          <td class="px-0">
            <div class="row">
              <span class="col-1">
                <%= i+1 %>:
              </span>
              <span class="col pl-1 pr-0">          
                <%= link_to autograph.name, autograph %></td>
              </span>
            </div>
          </td>
          <td>
            <% @item = Item.where(id: autograph.item_id, owned_by: user).first %>
            <%= @item.item_name %>
          </td>
          <td>
            <%= ItemType.where(id: @item.item_type_id).first.type_name %>
          </td>
          <td>
            <div>
              <%= link_to edit_autograph_path(autograph), class: 'col-6 py-1' do %>
                <i class="fas fa-edit fa-1x"></i>
              <% end %>
            
              <%= link_to autograph, method: :delete, data: { confirm: "Do you want to delete #{autograph.name} from #{@item.item_name}?" }, class: 'col-6 py-1' do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>