<%= form_with(model: item, local: true, html: { autocomplete: "off" }) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :item_name, class: "control-label"   %>
    <%= form.text_field :item_name, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description, class: "control-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :item_type, class: "control-label" %>
    <%= form.collection_select :item_type_id, ItemType.order(:type_name),:id,:type_name, {prompt: "Select Item Type", 
    include_blank: 'Add New Item Type'}, {class: "form-control", :onchange => "add_new_item_type()"} %>
  </div>

  <div class="field form-group" id="new_item_type" style="display:none">
    <%= fields_for @item_type do |item_type_form|%>
      <%= item_type_form.label 'Enter Item Type', class: "control-label" %>
      <%= item_type_form.text_field :type_name, class: "form-control" %>
    <% end %>
  </div>
   
  <div class="field form-group">
    <%= form.label :manufacturer, class: "control-label" %>
    <%= form.text_field :manufacturer, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :size, class: "control-label" %>
    <%= form.collection_select :size_id, Size.order(:item_size),:id,:item_size, {prompt: "Select Size", 
    include_blank: 'Add New Size'}, {class: "form-control", :onchange => "add_new_size()"} %>
  </div>

  <div class="field form-group" id="new_size" style="display:none">
    <%= fields_for @size do |size_form|%>
      <%= size_form.label 'Enter Size', class: "control-label" %>
      <%= size_form.text_field :item_size, class: "form-control" %>
    <% end %>
  </div>

  <div class="field form-group">
    <%= form.label :upc, class: "control-label" %>
    <%= form.text_field :upc, class: "form-control" %>
  </div>

  <div class="field form-group text-center">
    <% if @item.image.attached? %>
      <% @item.image.each do |img| %>
        <div>
        <%= image_tag img, style: "height:20%;width:20%" %>
        </div>
        <%= link_to 'Remove', delete_image_attachment_item_url(img.id),
                    method: :delete,
                      data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
  </div>

  <div class="field form-group">
    <%= form.label 'Add Image', class: "control-label" %>
    <%= form.file_field :image, multiple: true, class: "form-control" %>
  </div>

  <div class="actions form-group py-3">
    <%= form.submit class: "form-control btn-dark" %>
  </div>

<% end %>
