<%= form_with(model: item, local: true, html: { autocomplete: "off" }) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item_name %>
    <%= form.text_field :item_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :item_type %>
    <%= form.collection_select :item_type_id, ItemType.order(:type_name),:id,:type_name, {prompt: "Select Item Type", 
    include_blank: 'Add New Item Type'}, {:onchange => "add_new_item_type()"} %>
  </div>


  <div class="field" id="new_item_type" style="display:none">
    <%= fields_for @item_type do |item_type_form|%>
      <%= item_type_form.label 'Enter Item Type' %>
      <%= item_type_form.text_field :type_name %>
    <% end %>
  </div>
   


  <div class="field">
    <%= form.label :manufacturer %>
    <%= form.text_field :manufacturer %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :upc %>
    <%= form.text_field :upc %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

<!--
  <div class="field">
    <%= form.label :purchaseid %>
    <%= form.text_field :purchaseid %>
  </div>
-->
  <div class="actions">
    <%= form.submit %>
  </div>

  
  
<% end %>
