<p id="notice"><%= notice %></p>

<h1>Items</h1>

<h3>Search</h3>
<input type="search" id="item-search" placeholder="Enter name..." data-behavior="autocomplete">
<br>
<br>

<div id="item-search-result" style="display:none">
  <div class="row">
    <div class="col-sm-4">Item Id:</div>
    <div class="col-sm-4">Item Name:</div>
    <div class="col-sm-4">Item Description:</div>
</div>
  <div class="row">
    <div id="result-id" class="col-sm-4"></div>
    <div id="result-name" class="col-sm-4"></div>
    <div id="result-desc" class="col-sm-4"></div>
</div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Item Id</th>
      <th scope="col">Item Name</th>
      <th scope="col">Description</th>
      <th scope="col">Item Type</th>
      <th scope="col">Manufacturer</th>
      <th scope="col">Size</th>
      <th scope="col">UPC</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr scope="row">
        <td><%= item.id %></td>
        <td><%= item.item_name %></td>
        <td><%= item.description %></td>
        <td><%= ItemType.get_type_name(item.item_type.id) %></td>
        <td><%= item.manufacturer %></td>
        <td><%= item.size %></td>
        <td><%= item.upc %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>




