<div class="container-fluid h-100 px-0">
  <h1 class="text-center display-4 align-items-center pt-1">Items</h1>

  <br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Item Type</th>
        <th scope="col">Description</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @items.each_with_index do |item, i| %>
        <tr scope="row">  
          <td class="px-1">
            <div class="row">
              <span class="col-1">
                <%= i+1 %>: 
              </span>
              <span class="col">
                <%= link_to item.item_name, item %>
              </span>
            </div>
          </td>
          <td><%= ItemType.get_type_name(item.item_type.id) %></td>
          <td><%= item.description %></td>
          <td>
            <div class="row">
              <%= link_to edit_item_path(item), class: 'col-6 py-1' do %>
                <i class="fas fa-edit fa-1x"></i>
              <% end %>
              <%= link_to item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'col-6 py-1' do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



