<p id="notice"><%= notice %></p>

<p>
  <strong>Item Name:</strong>
  <%= @item.item_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Item Type:</strong>
  <%= ItemType.where(id: @item.item_type.id).first.type_name %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @item.manufacturer %>
</p>

<p>
  <strong>Size:</strong>
  <%= @item.size %>
</p>

<p>
  <strong>Upc:</strong>
  <%= @item.upc %>
</p>

<% unless @item.purchase_id.nil? %>
  <div>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapsePurchase" role="button" aria-expanded="false" aria-controls="collapsePurchase">
      View Purchase Info
    </a>
    <div class="collapse" id="collapsePurchase">
      <div class="card card-body">
        
          <% @purchase = Purchase.where(id: @item.purchase_id, owned_by: user).first %>
          <%= render 'purchases/info', object: @purchase %>
        
      </div>
    </div>  
  </div>
<% end %>

<% if Autograph.where(item_id: @item.id, owned_by: user).count > 0 %>
  <div>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseAutographs" role="button" aria-expanded="false" aria-controls="collapseAutographs">
      View Autographs
    </a>
    <div class="collapse" id="collapseAutographs">
      <div class="card card-body">
        
          <% Autograph.where(item_id: @item.id, owned_by: user).each_with_index do |autograph,i| %>
            <strong><%= i+1%>: <%= link_to autograph.name, autograph %></strong>
          <% end %>
      </div>
    </div>  
  </div>
<% end %>

<% unless @item.value_id.nil? %>
  <div>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseValue" role="button" aria-expanded="false" aria-controls="collapseValue">
      View Item Value
    </a>
    <div class="collapse" id="collapseValue">
      <div class="card card-body">
        
          <% @value = Value.where(id: @item.value_id, owned_by: user).first %>
          <%= render 'values/info', object: @value %>
        
      </div>
    </div>  
  </div>
<% end %>


<p>
  <strong>Image:</strong>
  <%= image_tag @item.image, style: 'height:20%;width:20%;' if @item.image.attached? %>
</p>

<%= link_to 'Add Purchase Information', new_purchase_path(from: 'item_path',from_id: @item.id), {class: "btn btn-primary btn-md"} %>

<%= link_to 'Add Autograph', new_autograph_path(from: "item_path",from_id: @item.id), {class: "btn btn-primary btn-md"} %>

<%= link_to 'Add Item Value', new_value_path(from: 'item_path',from_id: @item.id), {class: "btn btn-primary btn-md"} %>
<br>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', back(:items_path) %>
